<!DOCTYPE html>
<html lang="en">
<head>
    <title>corona-app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/icon.png">
  <style>body{
  background-image:url("img/n.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  }

</style>
</head>
<body id="israel">
    <div class="main_page" >
      <header><h1 class="h1">נתוני הקורונה בערים בישראל<img src="img/flag.png" class="image"></h1></header>
            <div class="Main"> 
              <h2 class="h1">:  הקלד שם העיר באנגלית </h2>
            <form id="Israel_city_form">
                <input id="Israel_city_input"placeholder="Search.." class="search" >       
                     <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            <h2 class="h1" id="Israel_title">:נתונים</h2>
        <h4 class="data_block" id="Israel_data_block"></h4> 
       </div>
      </div>
     <script src="\js\israel.js"></script>
</body>
</html>